.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;

  }


ion-content {
    /* Degradado Radial */
    --background: radial-gradient(circle at center, #000000, #01300f);
}
