ion-content {
  /* Combina la imagen con una capa de color semi-transparente */
  --background:
    linear-gradient(rgba(255, 255, 255, 0.658), rgba(255, 255, 255, 0.9)), /* Capa de color con transparencia */
    url("../../../assets/images/Fondo2.png") no-repeat center center / cover; /* Imagen */

  /* El borde se mantiene separado */
  border: #004a57 solid 1px;
}
ion-toolbar {
  --background: #00221c;
  color: #f8ffb4;
  border: #004a57 solid 1px;
}
.iconopdf{
  width: 24px;
  height: 24px;
}
.bonappetit {
  font-family: "Dancing Script Custom", cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2af718;
}

.boton-ojo img {
  width: 30px;
  height: 30px;
}

