<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Recetas Favoritas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngIf="!recetasService.recetas || recetasService.recetas.length === 0"
    >
      <ion-label class="ion-text-center ion-padding">
        Aún no tienes recetas favoritas guardadas.
      </ion-label>
    </ion-item>

    <ion-item-sliding
      *ngFor="let recetaItem of recetasService.recetas; let i = index"
    >
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="recetaItem.image" />
        </ion-thumbnail>

        <ion-label>
          <h2>{{ recetaItem.title }}</h2>
        </ion-label>

        <ion-button
          slot="end" color="primary" fill="clear" (click)="verDetalleGuardado(recetaItem)"
          class="ion-no-padding boton-ojo">
          <img src="assets/icon/ojo.png" alt="Ver Receta Guardada" >
        </ion-button>

      

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarReceta(recetaItem.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <p
    *ngIf="recetasService.recetas.length > 0"
    class="ion-text-center ion-padding-top ion-text-sm"
  ></p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center bonappetit">¡Bon appetit!</ion-title>
  </ion-toolbar>
</ion-footer>
