<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>R Z <span class="subtitulo">"E-receta"</span> </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <span class="reloj">{{ currentTime }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-message ion-padding">
    <h2>¡Bienvenido a RZ! 🍳</h2><br>
    <p>Tu aventura culinaria comienza ahora...</p>
    <p>Busca tu receta por los ingredientes</p>
  </div>
</ion-content>
