<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/favoritos"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Receta Guardada</ion-title>
      <ion-button
          slot="end" color="secondary" fill="clear" (click)="recetasService.descargarPDF(recetaPdf)"
          class="ion-no-padding boton-pdf" > <span class="labelpdf">Descargar PDF</span>
          <img src="assets/icon/iconopdf.png" alt="Descargar PDF">
          </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card *ngIf="!receta" class="ion-text-center">
    <ion-card-content>
      <ion-icon name="alert-circle-outline" size="large" color="danger"></ion-icon>
      <p class="ion-padding-top">No se pudo cargar la información de la receta.</p>
      <ion-button (click)="volver()" fill="outline">Volver a Favoritos</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="receta">
    <ion-card-header>
      <ion-card-title class="ion-text-wrap">{{ receta.title }}</ion-card-title>
      <ion-card-subtitle>Receta guardada como favorita</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img [src]="receta.image" alt="Imagen de la receta" class="ion-padding-bottom"/>

      <ion-list-header>
        <ion-label color="dark">Ingredientes:</ion-label>
      </ion-list-header>
      <ul>
        <li *ngFor="let ingredient of receta.extendedIngredients">
          {{ ingredient.original }}
        </li>
      </ul>

      <ion-list-header>
        <ion-label color="dark">Instrucciones:</ion-label>
      </ion-list-header>

      <div [innerHTML]="receta.instructions" class="ion-padding-top instructions-text"></div>

      <p *ngIf="receta.sourceUrl" class="ion-padding-top">
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
